@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
